ul {
	list-style: none;
  }
body{
	height: 100%;
	width:100%;
	font-family: "Futura", Arial, Helvetica, sans-serif, 宋体, 楷体;
	background-color: white;
	


}
.pos_fixed

{
	position:fixed;
	top: 0px;
	right: 50.2%;
}
.box0
{
float: right;
	margin: 0px;
	margin-top: 10pt;
	margin-right: 15%;}
	 .boxmiddle
	{
		margin: 0px;
		margin-top: 10pt;
		margin-right: 50%; 
	
}
.box1
{

	margin: 0px;
	margin-top: 40pt;
	margin-left: 15%; 
	
}
.block1
{width: 505px
;
	float: right;

	margin: 0px;
	margin-top: 40pt;
	margin-right: 15%; 
	font-family:'Futura''Times New Roman','sans-serif', 宋体, 楷体;}
	.block2
{width: 505px
;
	float: left;
	
	top: 100px;
	margin-left: 15%; }


.box2
{
	float: right;
	margin: 0px;
	top: 85px;
	margin-right:15%; 
	
}
.block3
{width: 505px
;
	float: right;

	margin: 0px;;
	margin-top: 50px; }

.box3
{
	

     top: 50px;
	margin-top: 435pt;
	margin-left:15%; }
.block{
	
	margin:50pt;
	width:505pt;	
	margin-left: 15%;
	

}
	
.img-responsive {
	display: inline-block;
	height: auto;
	max-width: 100%;}



